html{
box-sizing: border-box;

}

*,*::before, *::after{
  box-sizing: inherit;
}

img {
  width: 100%;
  display:block;
}

.masthead {
  background-image: url("../images/noun_59034_cc.svg"), url("../images/noun_59034_cc2.svg"), url("../images/masthead-bg.png");
  padding-top: 6em;
  background-size: 75px auto, 75px auto, 200px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: right center, left center, left top;
  text-align: center;
}

.box{
  background-color: #388200;
  padding: 1em;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #6FC000;
  border-radius: 10px;
  background-image: linear-gradient(to bottom,#6FC000,#388200);
}
